# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Flutter
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache

# Environment
.env
.env.*

# Logs
*.log

# Generated
*.g.dart
*.freezed.dart

# IntelliJ
*.iml

# Android
**/android/.gradle
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# Node
node_modules/

# Coverage
coverage/